.header {
  max-width: calc(100% - 96px);
  min-height: 52px;
  margin: 28px auto;
  margin-bottom: 56px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 96px);
    margin: 28px auto 48px;
    
  }
  
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    margin: 28px auto 48px;

  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: calc(100% - 32px);
    margin: 16px auto 48px;
  }
}
  