.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  position: relative;
  z-index: 0;
  
}

.cover__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  
}

.cover__background::after:hover {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.8;
  z-index: -1;
}


@media screen and (max-width: 320px) {
  .cover__background {
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
}