.place {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 47% auto;
  grid-template-rows: minmax(min-content, max-content) auto;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas: 
    "title website"
    "image description";
  
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "description";
  }
}