.intro__basic {
  max-width: 690px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


@media screen and (max-width: 1024px) {
  .intro__basic {
    max-width: 100%;
    
  }
} 

@media screen and (max-width: 768px) {
  .intro__basic {
    max-width: 100%;
    margin: 0 24px 88px;
  }
  
}

@media screen and (max-width: 320px) {
  .intro__basic {
    max-width: 100%;
    margin: 0;
    padding: 0;    
  }
}